body {
    margin: 0;
    background-color: darkgrey;
}

button {
    padding: 10px;
    border-radius: 10px;
    font-size: inherit;
    cursor: pointer;
}
button:hover {
    background-color: bisque;
}
button:active {
    background-color: gold;
}
.btn-hold, .btn-hold:hover {
    background-color: gold;
}

.num-holder {
    display: grid;
}



.controls {
    position: absolute;
    top:    10vh;
    left:  100vh;
    height: 80vh;
    width:  calc(100vw - 110vh);
    font-size: 125%;
}
.controls * {
    transition-duration: 0.2s;
}
@media (orientation: portrait) {
    .controls {
        top:   100vw;
        left:   10vw;
        width:  80vw;
        height: calc(100vh - 110vw);
    }
}



.field, .cand-field {
    position: absolute;
    top:   10vh;
    left:  10vh;
    width: 80vh;
    display: grid;
    aspect-ratio: 1;
}
.field {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}
.field *, .cand-field * {
    transition-duration: 0.2s;
}
.cand-field {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
}
@media (orientation: portrait) {
    .field, .cand-field {
        top:   10vw;
        left:  10vw;
        width: 80vw;
    }
}



[square] {
    display: grid;
    border: 1px solid black;
}
.square-even {
    background-color: rgba(63, 31, 0, 0.05);
}
[cand-square], [cand-tile] {
    display: grid;
}



[tile], [cand-cand] {
    display: flex;
    justify-content: center;
    align-items: center;
}
[tile] {
    border: 1px solid black
}
.tile {
    cursor: pointer;
}
.tile-fixed {
    cursor: default;
    background-color: rgba(0, 0, 0, .1);
}
.tile-fixed-selected-full {
    cursor: default;
    background-color: hsl(42,  90%, 70%);
}
.tile-fixed-selected-half {
    cursor: default;
    /* background-color: hsl(33,  90%, 70%); */
    background-color: rgba(247, 185, 110, .7);
}
.tile-selected-full {
    cursor: default;
    background-color: gold;
}
.tile-selected-half {
    cursor: pointer;
    background-color: rgba(255, 228, 196, .7);
}
.tile:hover, .tile-selected-half:hover {
    background-color: bisque;
}